.home_index {
    overflow: hidden;
    margin-top: 158px;
}
.home_header {
    position: fixed;
    top: 88px;
    height: 70px;
    background: #d93a49;
    z-index: 33;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.home_header li {
    flex: 1;
}
.home_header p {
    opacity: .6;
    font-size: 26px;
    color: #fff;
    width: fit-content;
    margin: 0 auto;
   
}
.home_header .header_select p {
    opacity: 1;
    margin-top: 12px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}


// home0
.home0_banner {
    height: 330px;
    width: 100%;
    position: relative;
}
.home0_bk {
    height: 250px;
    width: 100%;
    background: #d93a49;
}
.home0_banner .banner_div {
    position: absolute;
    top: 10px;
    left: 0;
}
.tj {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    z-index: 33;
    top: -20px;
    padding-bottom: 30px;
    border-bottom: 1Px solid #eee;
}
.tj li {
    margin-top: 50px;
    text-align: center;
}
.tj span {
    font-size: 36px;
    border-radius: 50%;
    padding: 16px;
    color: #fff;
    background: #d93a49;
}
.tj p {
    margin-top: 30px;
    color: #333;
    font-size: 26px;
}

.type_p {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}
.type_title {
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    color: #333;
}
.type_title i {
    display: inline-block;
    font-size: 40px;
    transform: translateY(3px);
}

.type_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.type_list li {
    width: 32%;
    margin-top: 40px;
}
.type_list li img {
    width: 100%;
    border-radius: 6px;
}
.type_list li p {
    font-size: 26px;
    color: #666;
    margin-top: 4px;
}