.banner_div {
    position: relative;
    width: 750px;
    overflow: hidden;
}
.banner_ul {
    height: 323px;
    box-sizing: border-box;
    list-style: none;
}
.banner_ul li {
    position: absolute;
    top: 0;
    width: 750px;
}
.banner_ul li a {
    display: block;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}
.banner_ul li a img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

.banner_pot {
    width: fit-content;
    margin: -60px auto 20px;
    position: relative;
}
.banner_pot li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(0,0,0,.5);
    margin: 0 3px;
}
.banner_pot .select_pot {
    background: rgba(255,255,255,.5);
}

.banner_div span {
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0,0,0,.5);
}
.pre_click {
    left: 0;
}
.next_click {
    right: 0;
}